* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #2C74B3;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    overflow: hidden;
}

.choice:hover {
    cursor: pointer;
    background-color: #040404;
    transform: scale(1.05);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s;
}

.choice:hover img {
    transform: scale(1.1);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
    color: #2C74B3;
    font-weight: bold;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #5558af;
    color: #f6e5e5;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .choice {
        height: 120px;
        width: 120px;
    }

    img {
        height: 100px;
        width: 100px;
    }

    .score-board {
        font-size: 1.5rem;
    }

    #user-score, #comp-score {
        font-size: 3rem;
    }

    #msg {
        font-size: 1.5rem;
    }
}
